<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    	 
    	<!-- JQuery Google CDN https://developers.google.com/speed/libraries/#jquery -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    	
    	<script>
    	
    		$(function(){
    			$("head").load("header");
    			$("#nav-bar").load("nav-bar-top");
    		});
    	
    	</script>
    
        <title> Registration </title>
    </head>
    <body>
    
    	<div id="nav-bar"></div>
    
        <div class="container">
		  <div class="row">
		  	<div class="col-md-6">
		    
		          <form class="form-horizontal" action="" method="POST">
		          <fieldset>
		            <div id="legend">
		              <legend class="">Register</legend>
		            </div>
		            <div class="control-group">
		              <label class="control-label" for="username">Username</label>
		              <div class="controls">
		                <input id="username" name="username" placeholder="" class="form-control input-lg" type="text"/>
		                <p class="help-block">Username can contain any letters or numbers, without spaces</p>
		              </div>
		            </div>
		         
		            <div class="control-group">
		              <label class="control-label" for="email">E-mail</label>
		              <div class="controls">
		                <input id="email" name="email" placeholder="" class="form-control input-lg" type="email"/>
		                <p class="help-block">Please provide your E-mail</p>
		              </div>
		            </div>
		         
		            <div class="control-group">
		              <label class="control-label" for="password">Password</label>
		              <div class="controls">
		                <input id="password" name="password" placeholder="" class="form-control input-lg" type="password"/>
		                <p class="help-block">Password should be at least 6 characters</p>
		              </div>
		            </div>
		         
		            <div class="control-group">
		              <label class="control-label" for="password_confirm">Password (Confirm)</label>
		              <div class="controls">
		                <input id="password_confirm" name="password_confirm" placeholder="" class="form-control input-lg" type="password"/>
		                <p class="help-block">Please confirm password</p>
		              </div>
		            </div>
		         
		            <div class="control-group">
		              <!-- Button -->
		              <div class="controls">
		                <button class="btn btn-success">Register</button>
		              </div>
		            </div>
		          </fieldset>
		        </form>
		    
		    </div> 
		  </div>
		</div>
        
        
	        
	      
	
	    
    </body>
</html>